# Archivos de configuración de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Directorios de entorno virtual
venv/
env/
.venv/

# --- MiniZinc / Job Shop Generation Output ---

# Directorios de datos generados por los scripts de Python
jsp_cnn_data_gen/
jsp_cnn_data_mzn/
jsp_cnn_data_mzn_academic/
jsp_cnn_data_mzn_generated/
out/
aslib/
instances/
sat_cnn_data_gen/
training_reports_jsp/
training_reports_sat/
sat_cnn_data_gen_rand/
sat_cnn_data_gen_hard/
sat_cnn_data_gen_all/

promedio_tiempos.py
make_instance_map.py
find_instances_from_arff.py
audit_raw_resolution.py
audit_images.py
analiza_csv_dataset.py
analiza_arff.py

guide.txt
setup.txt
found_path.txt

training_reports/

# Archivos de salida específicos generados (Ground Truth y Features)
*.csv     # Ignora los archivos CSV de ground truth (si están en la raíz, sino usa la ruta completa)
*.dzn     # Archivos de datos de MiniZinc
*.mzn.bak # Archivos temporales o de backup de MiniZinc
*.npy     # Arrays de NumPy (las features de imagen para la CNN)

# Directorios temporales del solver
**/solver_logs_temp/

.DS_Store